@tailwind base;
@tailwind components;
@tailwind utilities;

.floating-buy-button-container {
  background: -webkit-linear-gradient(45deg, #680aca, #ff897e);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  background-size: auto;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
  background-size: 300% 300%;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #fff;
  max-width: 512px;
  font-weight: 700;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
